.form-signin
{
	margin-top: 70px;
}

.paracontact
{
  margin-top: 70px;
  padding: 15px;
}


.para
{
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 100px;
	padding: 15px;
}

.para1
{
  margin-top: 20px;
}


.navbar-inverse {
  background-color: #8B0000;
  border-color: #8B0000;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #800000;
}

.pager
 {
 	margin-top: 70px;
 }

.carousel
{
	margin-left: 80px; 
	margin-top: 100px;
	margin-right: 80px;
	margin-bottom: 200px;
}

.navbar-form
{
	margin-top: 70px;
}


h3
{
	text-align: center;
}

h6
{
  text-align: center;
}


.boutton
{
	margin-bottom: 100px;
}


.btn-info
{
	background-color: #8B0000;
	border-color: #8B0000;
}

.btn-info:focus,
.btn-info.focus {
  color: #fff;
	background-color: #8B0000;
	border-color: #8B0000;
}

.btn-info:hover {
  color: #fff;
	background-color: #8B0000;
	border-color: #8B0000;
}

.btn-primary
{
	background-color: #8B0000;
	border-color: #8B0000;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
	background-color: #8B0000;
	border-color: #8B0000;
}

.btn-primary:hover {
  color: #fff;
	background-color: #8B0000;
	border-color: #8B0000;
}

.box {
    margin-bottom: 20px;
    padding: 30px 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 70px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/*footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}*/


footer p {
    margin: 0;
    padding: 50px 0;
    bottom: 0;
    left: 0;
    right: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*text-transform: uppercase;*/
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../assets/fond.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.p1
{
	text-align: center;
	margin-top: 20px;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.textarea
{
  margin-right: 50px;
  position: center;
  margin-left: 50px;
}